<div class="card">
    <div class="card-body">
        <h3 class="card-title"><a href="/recipe/{{ recipe.id }}" class="text-decoration-none text-dark">{{ recipe.name }}</a></h3>
        <div class="card-subtitle mb-2"><small
                class="text-muted">{{ recipe.type }} | {{ recipe.created_at.strftime("%Y-%m-%d %H:%M") }}
                | <a href="/profile/{{ recipe.profilename }}">{{ recipe.profilename }}</a> | <i
                class="fa fa-heart"></i> Likes {{ recipe.popularity }}
            </small></div>
        <p class="card-text"><a href="/recipe/{{ recipe.id }}" class="text-decoration-none text-dark">{{ recipe.description }}</a></p>
        <a href="/recipe/{{ recipe.id }}" class="card-link">Show recipe</a>
    </div>
</div>