{% extends "layout.html" %}
{% block title %}Best recipes{% endblock %}
{% block content %}
<a href="recipe/1" class="text-decoration-none text-dark">
  <div class="card mb-3">
    <img src="../static/dessert.png" class="card-img-top" alt="Dream dessert">
    <div class="card-body bg-light">
      <h2 class="card-title">Dream dessert with strawberries and cream</h2>
      <p class="card-text">This is the most delicous dessert there is! Easy to cook when friends pop up unexpectedly.
        Add all
        your favorite berries on the top. Decorate with whipped cream and coconut flakes.</p>
    </div>
  </div>
</a>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="latest"
      aria-selected="true">What's new</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular"
      aria-selected="false">What's trending</a>
  </li>
</ul>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="latest" role="tabpanel" aria-labelledby="latest-tab">
    {% for recipe in latest %}
      {% include 'card.html' %}
    {% endfor %}
  </div>
  <div class="tab-pane fade" id="popular" role="tabpanel" aria-labelledby="popular-tab">
    {% for recipe in popular %}
     {% include 'card.html' %}
    {% endfor %}
  </div>
</div>

{% endblock %}