{% extends "layout.html" %}
{% block title %}New recipe{% endblock %}
{% block content %}
<h2>Add a new recipe</h2>
{% if not session.user_id %}
<p>You are not logged in. Please <a href="/login"></a>log in</p>a> </p>
{% else %}
{% if message %}
<div class="alert alert-warning">{{ message }}</div>
{% endif %}
<div class="w-50">
    <form action="/newrecipe" method="POST">
        <div class="form-group">
            <label>Name</label><br />
            <input type="text" class="form-control form-control-sm " name="name" placeholder="Name of the recipe">
        </div>
        <br />
        <div class="form-group">
            <label>Type</label><br />
            <select class="form-select form-select-font-size-sm" type="text" name="typeid">
                <option selected>Choose</option>
                {% for type in types %}
                <option value={{ type.id }}>{{ type.name }}</option>
                {% endfor %}
            </select>
        </div>
        <br />
        <div class="form-group">
            <label>Description</label><br />
            <textarea type="text" name="description" class="form-control form-control-sm" rows="3" placeholder="Describe what makes your recipe worth of cooking...."></textarea>
        </div>
        <br />
        <div class="form-group">
            <label>List ingredients</label><br />
            <textarea type="text" name="ingredients" class="form-control form-control-sm" rows="3" placeholder="List all ingredients and amounts"></textarea>
        </div>
        <br />
        <div class="form-group">
            <label>How to cook it</label><br />
            <textarea type="text" name="steps" class="form-control form-control-sm" rows="5" placeholder="Describe the steps of cooking"></textarea>
        </div>
        <br />
        <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <button type="submit" class="btn btn-warning">Add recipe</button>
        </div>
</div>
</form>
{% endif %}
{% endblock %}