{% extends "layout.html" %}
{% block title %}{{ profilename }}{% endblock %}
{% block content %}


{% if message %}
<div class="alert alert-warning">{{ message }}</div>
{% endif %}

<h1>Profile for <b>{{ profilename }}</b></h1>
<br />
{% if session.admin %}
    {% if not session.profilename == profilename %}
    <form action="/admin" method="POST">
        <button name="profilename" value="{{ profilename }}" class="btn btn-danger">
            Give user admin rights </button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    
{% else %}
<div class="d-inline p-2 bg-danger text-white"> <i class="fas fa-exclamation-triangle"> </i> You are an admin user </div>  
<br/>
{% endif %}
<br />
{% endif %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="latest"
            aria-selected="true">Recipes added</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular"
            aria-selected="false">Recipes liked</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="commented-tab" data-toggle="tab" href="#commented" role="tab" aria-controls="commented"
            aria-selected="false">Recipes commented</a>
    </li>
</ul>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="latest" role="tabpanel" aria-labelledby="latest-tab">

        {% if latest %}
        {% for recipe in latest %}
        {% include 'card.html' %}
        {% endfor %}
        {% else %}
        <div class="card">
            <div class="card-body">
                <p class="card-text">No recipes added by this user.</p>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="popular" role="tabpanel" aria-labelledby="popular-tab">
        {% if popular %}
        {% for recipe in popular %}
        {% include 'card.html' %}
        {% endfor %}
        {% else %}
        <div class="card">
            <div class="card-body">
                <p class="card-text">No recipes liked by this user.</p>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="commented" role="tabpanel" aria-labelledby="commented-tab">
        {% if commented %}
        {% for recipe in commented %}
        {% include 'card.html' %}
        {% endfor %}
        {% else %}
        <div class="card">
            <div class="card-body">
                <p class="card-text">No recipes commented by this user.</p>
            </div>
        </div>
        {% endif %}
    </div>

    {% endblock %}