<div class="form-group">
    <label>Name</label><br />
    {% if form %}
    <input type="text" class="form-control form-control" name="name" value="{{ form.name }}" required>
    {% else %}
    <input type="text" class="form-control form-control" name="name" placeholder="Name of the recipe" required>
    {% endif %}
</div>
<br />

<div class="form-group">
    <label>Type</label><br />
    <select class="form-select form-select-font-size" type="text" name="typeid" required>
        {% if form %}
        <option selected value={{ form.typeid }}>{{ form.type }}</option>
        {% else %}
        <option selected>Choose</option>
        {% endif %}
        {% for type in types %}
        <option value={{ type.id }}>{{ type.name }}</option>
        {% endfor %}
    </select>
</div>
<br />

<div class="form-group">
    <label>Description</label><br />
    <textarea type="text" name="description" class="form-control form-control" rows="3"
        placeholder="Describe what makes your recipe worth of cooking...."
        required>{% if form %}{{ form.description }}{% endif %}</textarea>
</div>
<br />

<div class="form-group">
    <label>List ingredients</label><br />
    <textarea type="text" name="ingredients" class="form-control form-control" rows="3"
        placeholder="List all ingredients and amounts"
        required>{% if form %}{{ form.ingredients }}{% endif %}</textarea>
</div>
<br />

<div class="form-group">
    <label>How to cook it</label><br />
    <textarea type="text" name="steps" class="form-control form-control" rows="5"
        placeholder="Describe the steps of cooking" required>{% if form %}{{ form.steps }}{% endif %}</textarea>
</div>
<br />

<div class="form-group">
    <label>Upload a photo. Tip: Use horizontal layout</label><br /><br />
    <input type="file" name="file">
</div>
<br />
