{% extends "layout.html" %}
{% block title %}Update recipe{% endblock %}
{% block content %}
{% if  session.admin or session.user_id == form.creator_id %}
<h1>Update recipe: {{ form.name }}</h1>
<form action="/recipe/update/{{ form.id}}" method="POST" onsubmit="return check(this)" enctype="multipart/form-data">
    {% include 'recipeform.html' %}
    <div class="form-group">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <button type="submit" class="btn btn-dark">Update recipe</button>
    </div>
    </div>
</form>
{% else %}
<p>You can only update your own recipes. Return to <a href="/">front page</a>.</p>
{% endif %}
{% endblock %}